body{

    background-image: url(image/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
ul{
    margin-top: 45px;
    padding-top: 45px;
}
li{
    padding: 0 10px;
    display: inline;
}
li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
}
li a:visited{
  color: black;
}
.search_bar{
    margin: 100px 40%;
    display: flex;
}
#search_bar1{
    border-radius: 25px;
    margin: 25px 0;
    width: 250px;
}
#search_bar_text{
    color: whitesmoke;
    margin-left: 5%;
    overflow: ;
}
.button-text{
    color: white;
    display: inline;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 25px;
}
.button-text:hover{
    color: wheat;
}
nav{
    background-image: linear-gradient(rgb(80, 80, 64),rgb(20, 20, 7), rgb(77, 77, 62));
    height: 100px;
}